<!DOCTYPE html>
<html>
  <head>
    <title>User: {{user.name}}</title>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="users">
      {{#user}}
      <div class="user">
      <ul>
        <li><img src="{{avatar}}"></li>
        <li><h3>{{name}}</h3></li>
        <li>{{job}}</li>
        <li>{{^job}}Looking for work{{/job}}</li>
        <li>{{company}}</li>
        <li>{{^company}}Looking for work{{/company}}</li>
      </ul>
      </div>
      {{/user}}
    </div>

  </body>
</html>
